
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
  font-family: Arial, sans-serif;
  background:rgb(134, 131, 131);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background: #220202;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  margin-bottom: 10px;
  text-align: right;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
}

button {
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #eee;
  transition: background 0.3s;
}

button:hover {
  background: #ddd;
}

.equal {
  grid-column: span 2;
  background-color: #d8970c;
  color: white;
}
